#canvas{
  border: solid black 1px;
  margin: auto;
  display: block;
  background-image: url('./img/bg.png');
  background-size: cover;
}
body{
  background: black;
}
.discription{
  color: white;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}
